* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Color-Defining */
    --primary-color-700: #2e2d93;
    --primary-color-600: #2e2d93cc;
    --primary-color-500: #2e2d93bf;
    --primary-color-400: #2e2d9399;
    --primary-color-300: #2e2d9373;
    --primary-color-200: #2e2d9333;
    --primary-color-100: #2e2d9326;
    --gray-600: #1A1A1A;
    --gray-500: #404040;
    --gray-400: #666666;
    --gray-300: #8C8C8C;
    --gray-200: #b3b3b3;
    --gray-100: #d9d9d9;
    --gray-50: #e5e7eb;
    --gray-20: #F3F4F6;
    --white: #ffffff;
    --dark: #000000;

    /* Typography-Defining */

    --Very-small: 400 11px/130% "Inter", sans-serif;
    --Inner-body-light-: 300 12px/150% "Inter", sans-serif;
    --Body-: 400 14px/100% "Inter", sans-serif;
    --Small-: 400 12px/130% "Inter", sans-serif;
    --One-line-regular-: 400 14px/16px "Inter", sans-serif;
    --Inner-title-: 600 16px/130% "Inter", sans-serif;
    --Article-title-: 400 20px/130% "Poppins", sans-serif;
    --Section-title-: 600 24px/130% "Poppins", sans-serif;
    --Title-: 600 12px/130% "Poppins", sans-serif;
}

/* header-css */
nav {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

nav ul {
    display: none;
}

#logo {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

#menu {
    width: 48px;
    height: 48px;
    margin: 8px 9px;
}


/* educational-css */

.educational {
    padding: 40px 40px;
    text-align: center;
}

main h1 {
    padding: 0 20px 20px;
    font: var(--Section-title-);
    color: var(--dark);
}

.educational .educate {
    padding: 20px;
    margin: 15px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.educate img {
    width: 64px;
    height: 65px;
}

.educate p {
    font: var(--Inner-body-light-);
    padding: 16px 50px;
    color: var(--gray-600);
}

/* experiences-wrapper-css */

.my-experiance,
.skills {
    text-align: center;
}

.experiences-wrapper {
    margin: 40px;
    min-width: 243px;
}

.experiences-wrapper .expert {
    margin: 45px 12px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.expert .logo-and-description {
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.logo-and-description img {
    width: 83px;
    height: 80px;
    border-radius: 4px;
}

.logo-and-description h3 {
    padding-left: 24px;
    font: var(--Inner-title-);
    color: var(--gray-600);
}

.expert .description {
    padding: 10px 30px 30px;
}

.description h4 {
    padding: 16px 0;
    font: var(--One-line-regular-);
    color: var(--gray-600);
}

.description li {
    font: var(--Inner-body-light-);
    color: var(--gray-500);
}

/* skill-table-CSS */

.skill {
    margin: 10px 50px;
}

table {
    text-align: center;
    height: 90vh;
    width: 100%;
    padding: 10px 30px;
    border-radius: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

tr:first-child th:first-child {
    border-top-left-radius: 16px;
}

tr:first-child th:last-child {
    border-top-right-radius: 16px;
}

table thead {
    background-color: var(--primary-color-500);
    color: var(--white);
    font: var(--Inner-title-);
}

table,
th,
td {
    padding: 1rem;
    border-collapse: collapse;
}

thead th {
    padding: 30px 0;
    font-size: 20px;
}

tbody td,
tbody h2 {
    font: var(--Inner-body-light-);
    color: var(--dark);
}

tbody tr:nth-child(even) {
    background-color: var(--gray-20);
    border-collapse: collapse;
}

tbody .percent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

tbody .bar {
    position: relative;
    width: 100%;
    height: 12px;
    border-radius: 25px;
    background-color: var(--gray-50);
}

tbody .percent h2 {
    padding: 0 10px;
}

tbody .bar span {
    display: flex;
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: var(--primary-color-500);
    border-radius: 25px;
}

tbody .bar .html {
    width: 90%;
}

tbody .bar .css {
    width: 85%;
}

tbody .bar .js {
    width: 75%;
}

tbody .bar .react {
    width: 60%;
}

tbody .bar .tail-css {
    width: 80%;
}

tbody .bar .boot {
    width: 40%;
}

table {
    margin: 35px 0 72px;
}

/* footer-css */

footer {
    text-align: center;
    padding: 24px 24px 30px;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

footer h4 {
    font: var(--One-line-regular-);
}

.social-media-wrapper ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 10px;
}

.social-media-wrapper li {
    margin: 8px;
}

.social-media-wrapper a {
    text-decoration: none;
    color: var(--primary-color-400);
    font-size: 30px;
}

/* JavaScript css */

@media(max-width: 320px) {
    #menu_bar {
        display: none;
    }

    #menu_bar {
        z-index: 100;
        padding-top: 60px;
        width: 100%;
        height: 100vh;
        text-align: center;
        background-color: var(--gray-50);
    }

    #menu_bar li {
        margin: 0;
        padding: 10px 100px;
        list-style: none;
        background-color: var(--white);
    }

    #menu_bar a {
        text-decoration: none;
        font: var(--Article-title-);
        color: var(--dark);
    }
}

@media (min-width: 321px) and (max-width: 1023px) {
    #menu_bar {
        display: none;
    }

    .menu-container {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 100;
        text-align: center;
    }

    #navbar li:last-child {
        border-bottom-left-radius: 12px;
    }
    #menu_bar li {
        width: 538px;
        margin: 0;
        padding: 10px 100px;
        list-style: none;
        background-color: var(--white);
    }

    #menu_bar a {
        text-decoration: none;
        font: var(--Article-title-);
        color: var(--dark);
    }
}
/* Media Query */
@media (min-width: 768px) and (max-width: 1024px) {
    .experiences-wrapper {
        margin: 30px 187px 109px;
    }
}

@media (min-width: 768px) {
    .experiences-wrapper .expert {
        margin: 0px 12px 109px;
    }

    .educate p {
        font: var(--One-line-regular-);
        padding: 16px 50px;
    }

    .description h4 {
        font: var(--Body-);
    }

    tbody td,
    tbody h2 {
        font: var(--One-line-regular-);
        color: var(--dark);
    }
}

@media (min-width: 1024px) {
    /* Desktop-Header */

    nav {
        height: 88px;
    }

    nav #menu {
        display: none;
    }

    nav #logo {
        width: 88px;
        height: 88px;
    }

    nav ul {
        display: block;
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;
        align-self: center;
    }

    nav li {
        padding: 16px;
        margin-right: 10px;
        list-style: none;
        font: var(--Article-title-);
    }

    nav a {
        color: var(--dark-);
        text-decoration: none;
    }

    .educate p {
        font: var(--One-line-regular-);
        padding: 16px 50px;
    }

    .educational {
        margin: 20px 220px;
    }

    .logo-and-description h3 {
        font: var(--Article-title-);
    }

    .description h4 {
        font: var(--Inner-title-);
    }

    .experiences-wrapper {
        display: flex;
        gap: 70px;
        margin: 40px 70pX;
    }
}