* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Color-Defining */
    --primary-color-700:#2e2d93;
    --primary-color-600:#2e2d93cc;
    --primary-color-500:#2e2d93bf;
    --primary-color-400:#2e2d9399;
    --primary-color-300:#2e2d9373;
    --primary-color-200:#2e2d9333;
    --primary-color-100:#2e2d9326;
    --gray-600: #1A1A1A;
    --gray-500: #404040;
    --gray-400: #666666;
    --gray-300: #8C8C8C;
    --gray-200: #b3b3b3;
    --gray-100: #d9d9d9;
    --gray-50: #e5e7eb;
    --gray-20: #F3F4F6;
    --white: #ffffff;
    --dark: #000000;

    /* Typography-Defining */

    --Very-small: 400 11px/130% "Inter", sans-serif;
    --Inner-body-light-: 300 12px/150% "Inter", sans-serif;
    --Body-: 400 14px/100% "Inter", sans-serif;
    --Small-: 400 12px/130% "Inter", sans-serif;
    --One-line-regular-: 400 14px/16px "Inter", sans-serif;
    --Inner-title-: 600 16px/130% "Inter",  sans-serif;
    --Article-title-: 400 20px/130% "Poppins", sans-serif;
    --Section-title-: 600 24px/130% "Poppins", sans-serif;
    --Title-: 600 12px/130% "Poppins", sans-serif;
}

/* header-css */
nav {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

nav ul {
    display: none;
}

#logo {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

#menu {
    width: 48px;
    height: 48px;
    margin: 8px 9px;
}


/* my-works */

.my-works{
    text-align: center;
}
main h1 {
    margin: 20px 20px 7px;
    margin-top: 30px;
    font: var(--Section-title-);
    color: var(--dark);
}
.projects-wrapper{
    margin-bottom: 40px;
}
.my-works .work img {
    max-width: 96px;
    max-height: 64px;
    padding-right: 10px;
}
.projects-wrapper .work {
    margin: 23px 8px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);   
}
.work .description{
    padding: 16px;
}
.work p {
    padding: 16px 0;
    font:var(--Small-);
    color: var(--gray-500);
}
.work h4{
    font:var(--Body-);
    padding-top: 10px;
    color: var(--gray-600);
}


/* footer-css */

footer {
    text-align: center;
    padding: 24px 24px 30px;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

footer h4 {
    font: var(--One-line-regular-);
}

.social-media-wrapper ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 10px;
}

.social-media-wrapper li {
    margin: 8px;
}

.social-media-wrapper a {
    text-decoration: none;
    color: var(--primary-color-400);
    font-size: 30px;
}

/* JavaScript css */

@media(max-width: 320px) {
    #menu_bar {
        display: none;
    }

    #menu_bar {
        z-index: 100;
        padding-top: 60px;
        width: 100%;
        height: 100vh;
        text-align: center;
        background-color: var(--gray-50);
    }

    #menu_bar li {
        margin: 0;
        padding: 10px 100px;
        list-style: none;
        background-color: var(--white);
    }

    #menu_bar a {
        text-decoration: none;
        font: var(--Article-title-);
        color: var(--dark);
    }
}

@media (min-width: 321px) and (max-width: 1023px) {
    #menu_bar {
        display: none;
    }

    .nav-container {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 100;
        text-align: center;
    }

    #navbar li:last-child {
        border-bottom-left-radius: 12px;
    }

    #menu_bar li {
        width: 538px;
        margin: 0;
        padding: 10px 100px;
        list-style: none;
        background-color: var(--white);
    }

    #menu_bar a {
        text-decoration: none;
        font: var(--Article-title-);
        color: var(--dark);
    }
}

/* Media Query */

@media (min-width: 768px )  and (max-width:1020px){
    .projects-wrapper{
        padding: 0 105px;
    }
    .work p {
        font: var(--Body-);
    }
}

@media (min-width: 768px) {

    .my-works .work img {
        max-width: 188px;
        max-height: 116px;
        padding-right: 10px;
    }

    .work h4 {
        font: var(--Article-title-);
    }
}

@media (min-width: 1024px) {
    /* Desktop-Header */

    nav{
        height: 88px;
    }
    nav #menu {
        display: none;
    }

    nav #logo {
        width: 88px;
        height: 88px;
    }

    nav ul {
        display: block;
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;
        align-self: center;
    }

    nav li {
        padding: 16px;
        margin-right: 10px;
        font: var(--Article-title-);
        list-style: none;
    }
    nav a {
        color: var(--dark-);
        text-decoration: none;
    }

    /* Body */
    .projects-wrapper {
        padding: 0 28px;
        display: grid;
        grid-template-rows: 450px 450px;
        grid-template-columns: 1fr 1fr;
    }
    .work{
        min-width: 450px;
        min-height: 195px;
    }
   .work p {
    font: var(--Small-);
    }
}
